body {
      background-color:black;
 background-image: url("img/001.gif");
  background-attachment: fixed;
             background-size: cover;
  background-position: center;
	height: 100%;
}

    p {
         font-family: Chicago
              text-align: center;
              font-size: 20px;
        color: #007F00
    }
    a {
         font-family: Chicago
        color: #007F00
    }
    a[href] {
         font-family: Chicago
    }
      p:hover {
   color: #FFFFFF;
font-family: Chicago
   }
  a:hover {
   color: #FFFFFF;
   target-new: #FFFFFF;
font-family: Chicago
  }
    h1 {
font-family: Chicago
       color: #007F00
    }
    h2 {
font-family: Chicago
       color: #007F00
    }
    h3 {
font-family: Chicago
    }
    h1:hover {
   color: #FFFFFF;
    }
    h2:hover {
   color: #FFFFFF;
    }
    h3:hover {
   color: #FFFFFF;
    }
  a[class=abutton] {
      font-style: italic;
      border-width: 2px; 
      border-style: solid; 
      padding: 0.5em;
          padding-top: 0.25em;
          padding-bottom: 0.25em;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400% 400%;
      animation: rainbow 5s ease infinite;
    }
    
a[href="releases.html"] {
      background-image: linear-gradient(45deg, #FFC7EE, #FFF0FA);
      border-image: linear-gradient(45deg, #FFC7EE, #FFF0FA) 1;
    }
a[href="https://www.youtube.com"] {
      background-image: linear-gradient(45deg, #FF0000, #B00000);
      border-image: linear-gradient(45deg, #FF0000, #B00000) 1;
    }
a[href="gallery.html"] {
      background-image: linear-gradient(45deg, #FFE0BF, #FF7070);
      border-image: linear-gradient(45deg, #FFE0BF, #FF7070) 1;
    }
   a[href="entries.html"] {
          background-image: linear-gradient(45deg, #E6D0FF, #AE6AFF);
          border-image: linear-gradient(45deg, #E6D0FF, #AE6AFF) 1;
        }
    a[href="contact.html"] {
          background-image: linear-gradient(45deg, #F0FF4C, #A1F4C3);
          border-image: linear-gradient(45deg, #F0FF4C, #A1F4C3) 1;
        }
@keyframes rainbow {
           0% {background-position:0% 100%}
           50%{background-position:100% 0%}
           100% {background-position:0% 100%}
        }
@font-face { font-family: Chicago; src: url('Chicago.ttf'); } 