
:root {
    --maincolor: #007f00;
    --hovercolor: #ffffff;
}

@font-face { font-family: handelgothic; src: url('handelgothic.otf'); } 

  h1:hover {
    color: var(--hovercolor);
  }
  h2:hover {
    color: var(--hovercolor);
  }
  h3:hover {
    color: var(--hovercolor);
  }

a[class=abutton] {
  font-family: Chicago;
    border-width: 2px; 
    border-style: solid; 
    padding: 0.5em;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
    animation: rainbow 5s ease infinite;
   margin: 20px;
   line-height: 250%;
text-decoration: none;
  }
  
  a[ class=abutton]:hover
  {
    background-image: none;
    border-image: none;
    background-color: var(--hovercolor);
  }

a[href="/releases"] {
    background-image: linear-gradient(45deg, #FFC7EE, #FFF0FA);
    border-image: linear-gradient(45deg, #FFC7EE, #FFF0FA) 1;
  }
a[href="https://youtube.com/@yungulcer"] {
    background-image: linear-gradient(45deg, #FF0000, #B00000);
    border-image: linear-gradient(45deg, #FF0000, #B00000) 1;
  }
a[href="/gallery"] {
    background-image: linear-gradient(45deg, #FFE0BF, #FF7070);
    border-image: linear-gradient(45deg, #FFE0BF, #FF7070) 1;
  }
 a[href="/entries"] {
        background-image: linear-gradient(45deg, #E6D0FF, #AE6AFF);
        border-image: linear-gradient(45deg, #E6D0FF, #AE6AFF) 1;
      }
  a[href="/contact"] {
        background-image: linear-gradient(45deg, #F0FF4C, #A1F4C3);
        border-image: linear-gradient(45deg, #F0FF4C, #A1F4C3) 1;
      }

        div[class=cooldiv]:hover
        {
            background-color: var(--hovercolor);
        }

        div[class=cooldiv]
        {height: 5px; 
            width:100%; 
            background-color: var(--maincolor);
            margin: auto; 
        }
        div[class=bossdiv]
        {height: 100px; 
            width:450px; 
            outline-style:solid; 
            outline-color:#007F00; 
            outline-width: 5px; 
            justify-self: center; 
        }
        div[class=thugdiv]
        {
height: 100%;  
width:100%;  
            text-align: center;  
            margin-left: auto; 
            margin-right: auto;
        position:relative;
        max-width: fit-content; 
        } 
         
        div[class=griddiv] 
        {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            row-gap: 60px;
            height: 100%;  
            width:100%;  
        }

.galdiv {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
max-width: 1024px;
            
            
        }

.galimg {
            flex: 1 1 calc(33.333% - 20px);
            box-sizing: border-box;
            text-align: center;
            
        }

        .galimg:hover  a{
            color: var(--hovercolor);
                  }

.galpic 
        {
            width: 100%;
            height: auto;

        }

.galhovimg {
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
    text-align: center;
            position: relative;
            display: inline-block;
            
            
          }

.galhovimg img {
            display: block;
            transition: opacity 0.3s ease;
            width: 100%;
            height: auto;
          }

.galhovimg img.top:hover {
            opacity: 0;
          }

.galhovimg:hover  a{
    color: var(--hovercolor);
          }

        img[class=thugimg]
        {
            max-width: 100%;
            max-height: 100vh;
            margin: auto;
        }

        a[class=thuga]
        { 
            text-align: center;  
            margin-left: auto; 
            margin-right: auto;
        position:relative;
        } 
        
.refbox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
@keyframes rainbow {
         0% {background-position:0% 100%}
         50%{background-position:100% 0%}
         100% {background-position:0% 100%}
      }
@font-face { font-family: Chicago; src: url('Chicago.ttf'); } 

button {
    border: none;
    color: white;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    background-color: black;
}
button:active {
    background-color: white;
}

.ourworlds {
    background-color: #433799;
    color: #FFF78C;
    text-shadow: -2px -1px 2px #CF4578, 2px 1px 2px #45C3B5;
}
.ourworldstxt {
    background-color: #2C2466;
    color: #FFF78C;
    text-shadow: -2px -1px 2px #CF4578, 2px 1px 2px #45C3B5;
    font-family: 'handelgothic';
}
button:active {
    background-color: white;
}

.song {
    cursor: pointer;
}
.song.playing {
    font-weight: bold;
}
#progressBar {
    width: 100%;
    height: 20px;
    background-color: #ddd;
}
#progressBar div {
    height: 100%;
    width: 0%;
    background-color: #4caf50;
}
