
:root {
    --maincolor: #007f00;
    --hovercolor: #ffffff;
}

@font-face { font-family: handelgothic; src: url('handelgothic.otf'); } 

  h1:hover {
    color: var(--hovercolor);
  }
  h2:hover {
    color: var(--hovercolor);
  }
  h3:hover {
    color: var(--hovercolor);
  }

        div[class=thugdiv]
        {
height: 100%;  
width:100%;  
            text-align: center;  
            margin-left: auto; 
            margin-right: auto;
        position:relative;
        max-width: fit-content; 
        } 

@keyframes rainbow {
         0% {background-position:0% 100%}
         50%{background-position:100% 0%}
         100% {background-position:0% 100%}
      }
@font-face { font-family: Chicago; src: url('Chicago.ttf'); } 

.ourworlds {
    background-color: #433799;
    color: #FFF78C;
    text-shadow: -2px -1px 2px #CF4578, 2px 1px 2px #45C3B5;
}
.ourworldstxt {
    background-color: #2C2466;
    color: #FFF78C;
    text-shadow: -2px -1px 2px #CF4578, 2px 1px 2px #45C3B5;
    font-family: 'handelgothic';
}

button {
    border: none;
    color: white;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    background-color: black;
}
button:active {
    background-color: white;
}

.song {
    cursor: pointer;
}
.song.playing {
    font-weight: bold;
}
#progressBar {
    width: 100%;
    height: 20px;
    background-color: #ddd;
}
#progressBar div {
    height: 100%;
    width: 0%;
    background-color: #4caf50;
}