body {
      background-color:black;
 background-image: url("img/cthulubg.gif");
  background-attachment: fixed;
             background-size: cover;
  background-position: center;
	height: 100%;
}

    p {
   color: #FF0072;
         font-family: Chicago
    }
    a {
   color: #FF0072;
         font-family: Chicago
      text-decoration: none;
    }
      p:hover {
   color: #FFFFFF;
font-family: Chicago
   }
  a:hover {
   color: #FFFFFF;
   target-new: #FFFFFF;
      text-decoration: underline;
font-family: Chicago
  }
    h1 {
   color: #FF0072;
font-family: Chicago
    }
    h2 {
   color: #FF0072;
font-family: Chicago
    }
    h3 {
   color: #FF0072;
font-family: Chicago
    }
    h1:hover {
   color: #FFFFFF;
    }
    h2:hover {
   color: #FFFFFF;
    }
    h3:hover {
   color: #FFFFFF;
    }
@font-face { font-family: Chicago; src: url('Chicago.ttf'); } 
