body {
	background-color: #000000;
	background-image: url("img/001.gif");
	background-repeat: repeat-z;
	height: 100%;
}

    p {
   color: #007F00;
    }
    a {
   color: #007F00;
      text-decoration: none;
    }
      p:hover {
   color: #FFFFFF;
   }
    h1 {
   color: #007F00;
    }
    h2 {
   color: #007F00;
    }
  a:hover {
   color: #FFFFFF;
   target-new: #FFFFFF;
      text-decoration: underline;
  }
