.galhovimg img.top:hover {
            opacity: 0;
          }

.galhovimg:hover  a{
    color: var(--hovercolor);
          }
        
.hiddentxt {
    color:#000000;
}

.griddiv
        {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            row-gap: 60px;
            height: 100%;  
            width:100%;  
            font-size: 36px;
        }



a[href="https://www.jakobutter.net"] {color: var(--color1); text-decoration: underline);}
/*a[href="/releases"] {background-image: linear-gradient(45deg, #FFC7EE, #FFF0FA);}
a[href="/gallery"] {background-image: linear-gradient(45deg, #FFE0BF, #FF7070);}
a[href="/entries"] {background-image: linear-gradient(45deg, #E6D0FF, #AE6AFF);}
a[href="/contact"] {background-image: linear-gradient(45deg, #F0FF4C, #A1F4C3);}
a[href="https://youtube.com/@yungulcer"] {background-image: linear-gradient(45deg, #FF0000, #B00000); color:white; text-shadow: 1px 1px black;}
a[href="https://yungulcer.bandcamp.com"] {background-image: linear-gradient(45deg, #1DA0C3, #333333); color:white; text-shadow: 1px 1px black;}
a[href="https://www.soundcloud.com/jakobutter"] {background-image: linear-gradient(45deg, #FF4600, #FFC560); color:white; text-shadow: 1px 1px black;}
a[href="https://open.spotify.com/artist/4gG6PkE4Pa3gaqCA0Ms0Zf"] {background-image: linear-gradient(45deg, #24E484, #00B85C); color:white; text-shadow: 1px 1px black;}
a[href="https://x.com/pinksisser"] {background-image: linear-gradient(45deg, #2FDEFF, #2DB0C9); color:white; text-shadow: 1px 1px black;}
a[href="https://music.apple.com/us/artist/yung-ulcer/1725588092"] {background-image: linear-gradient(45deg, #FA203A, #FC5E76); color:white; text-shadow: 1px 1px black;}*/

@keyframes rainbow {
         0% {background-position:0% 100%}
         50%{background-position:100% 0%}
         100% {background-position:0% 100%}
      }