
:root {
    --color1: #000000; /*text color*/
    --color2: #FF0040; /*background color, formerly #FF001F*/
    --color3: #foffac; /*#foffac*/
    --color4: #000000; /*#a1f4c3*/
    --color4: #000000; /*#ff0073*/
    --color5: #000000; /*#ff0000*/
    --deffont: Arial
}

body {
 background-color: var(--color2);
 color: var(--color1);
 font-family: var(--deffont);
 font-weight: light;
 font-width: 50%;
}

@font-face { font-family: Chicago; src: url('Chicago.ttf'); } 
@font-face { font-family: handelgothic; src: url('handelgothic.otf'); }
@font-face { font-family: simsun; src: url('simsun.ttf'); } 
@font-face { font-family: rodin; src: url('rodin.otf'); } 
@font-face { font-family: pokemon; src: url('pokemon.ttf'); }
@font-face { font-family: tahoma; src: url('style/tahoma.ttf'); } 

div[class=cooldiv]
        {height: 4px; 
            width:100%; 
            background-color: var(--color1);
            margin: auto; 
        }

.thugdiv
        {
height: 100%;  
width:100%;  
            text-align: center;  
            margin-left: auto; 
            margin-right: auto;
        position:relative;
        max-width: fit-content; 
        } 

.sitecontent
        {
height: 100%;  
width:100%;  
            text-align: center;  
           padding-top: 140px; 
            padding-bottom: 140px; 
        position:relative;
        } 

img {
    image-rendering: pixelated;
    max-width: 100%;
            max-height: 100vh;
            margin: auto;
    }
    
.abutton {
  color: var(--color2);
  background-color: var(--color1);
 /*   border-width: 2px; */
  border-style: solid; 
padding: 10px;
padding-top: 4px;
padding-bottom: 4px;
   font-size: 24px;
   line-height: 200%;
          text-decoration: none;
   }

.abutton:hover {
      color: var(--color1);
  background-color: var(--color2);
  border-color: var(--hovercolor); 
border-width: 2px;
   }

.entbutton {
    font-size: 32px;
    color: #000000;
    background-color: var(--color1);
      padding: 1em;
      padding-top: 0.75em;
      padding-bottom: 0.75em;
      background-size: 400% 400%;
      animation: rainbow 5s ease infinite;
background-image: linear-gradient(180deg, var(--maincolor), #FFFFFF);
    }

a:visited {
  color: var(--color2);
  background-color: var(--color1);
  }

a:hover {
  color: var(--color1);
  background-color: var(--color2);
  }

h1 {text-decoration: underline;
margin:0; padding-left:20px}

h2
{
font-size: 32px;
font-weight: 100;
}

h3
{
font-size: 24px;
font-weight: 100;
}

.galdiv {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
  
max-width: 1024px;
            
            
        }

.galimg {
            flex: 1 1 calc(33.333% - 20px);
            box-sizing: border-box;
            text-align: center;
            
        }

        .galimg:hover  a{
            color: var(--hovercolor);
                  }

.galpic 
        {
            width: 100%;
            height: auto;

        }

.galhovimg {
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
    text-align: center;
            position: relative;
            display: inline-block;
            
            
          }

.galhovimg img {
            display: block;
            transition: opacity 0.3s ease;
            width: 100%;
            height: auto;
          }

.galhovimg img.top:hover {
            opacity: 0;
          }

.galhovimg:hover  a{
    color: var(--hovercolor);
          }
        
.hiddentxt {
    color:#000000;
}

        div[class=griddiv] 
        {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            row-gap: 60px;
            height: 100%;  
            width:100%;  
        }

.entbutton:hover
    {
      background-image: none;
      border-image: none;
      background-color: var(--hovercolor);
    }

.title {
font-size:48px; color: var(--color1); text-decoration: underline
        }

.title:visited {
var(--color1);
  }

a[href="https://www.jakobutter.net"] {color: var(--color1); text-decoration: underline);}
/*a[href="/releases"] {background-image: linear-gradient(45deg, #FFC7EE, #FFF0FA);}
a[href="/gallery"] {background-image: linear-gradient(45deg, #FFE0BF, #FF7070);}
a[href="/entries"] {background-image: linear-gradient(45deg, #E6D0FF, #AE6AFF);}
a[href="/contact"] {background-image: linear-gradient(45deg, #F0FF4C, #A1F4C3);}
a[href="https://youtube.com/@yungulcer"] {background-image: linear-gradient(45deg, #FF0000, #B00000); color:white; text-shadow: 1px 1px black;}
a[href="https://yungulcer.bandcamp.com"] {background-image: linear-gradient(45deg, #1DA0C3, #333333); color:white; text-shadow: 1px 1px black;}
a[href="https://www.soundcloud.com/jakobutter"] {background-image: linear-gradient(45deg, #FF4600, #FFC560); color:white; text-shadow: 1px 1px black;}
a[href="https://open.spotify.com/artist/4gG6PkE4Pa3gaqCA0Ms0Zf"] {background-image: linear-gradient(45deg, #24E484, #00B85C); color:white; text-shadow: 1px 1px black;}
a[href="https://x.com/pinksisser"] {background-image: linear-gradient(45deg, #2FDEFF, #2DB0C9); color:white; text-shadow: 1px 1px black;}
a[href="https://music.apple.com/us/artist/yung-ulcer/1725588092"] {background-image: linear-gradient(45deg, #FA203A, #FC5E76); color:white; text-shadow: 1px 1px black;}*/

@keyframes rainbow {
         0% {background-position:0% 100%}
         50%{background-position:100% 0%}
         100% {background-position:0% 100%}
      }

button {
    border: none;
    color: var(--color2);
    width: 50px;
    height: 50px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10%;
    background-color: black;
}

button:active {
  border: solid;
  border-width: 2px;
      color: var(--color2);
    background-color: var(--color1);
}
button:hover {
  border: solid;
  border-width: 2px;
      color: var(--color1);
    background-color: var(--color2);
}
        #scrub-bar {
            height: 20px;
          width: 80%;
                      position: relative;
            display: inline-block;
            background: var(--color1);
            cursor: pointer;
                      border: solid;
  border-width: 2px;
      color: var(--color1);
        }
        #progress {

            height: 100%;
            background: var(--color2);
            width: 0;
        }
        .active {
            font-weight: bold;
        }

.playa
{
  
    bottom: 0;
  position: fixed;
background-color: var(--color2);
  left: 50%;
  margin: 0;
      padding-bottom:20px;
    transform: translate(-50%, 0%);
  z-index:1;
  width:100%; max-width:512px;
  
}
.site
{
    top: 0;
  position: fixed;
background-color: var(--color2);
  left: 50%;
  margin: 0;
    transform: translate(-50%, 0%);
  z-index:1;
  width:100%; max-width:512px;
}

.sitebox
{ 
            margin-left: auto; 
            margin-right: auto;
        max-width: fit-content; 
}
.marquee {
  width: 100%;
  pointer-events: none;
    background-color: var(--color1);
  overflow: hidden;
}

.marquee__inner-wrap {
  height: 100%;
  width: 100%;
}

.marquee span {
  text-align: center;
    color: var(--color2);
   font-weight: bold;
  white-space: nowrap;
}


.marquee__inner {
  height: 100%;
  width: fit-content;
  align-items: center;
  display: flex;
  position: relative;
  animation: marquee 16s linear infinite;
  will-change: transform;
}

@keyframes marquee {
  to {
    transform: translateX(-50%);
  }
}

.ourworlds {
    background-color: #433799;
    color: #FFF78C;
    text-shadow: -2px -1px 2px #45C3B5, 2px 1px 2px #433799;
}
.ourworldstxt {
    background-color: #2C2466;
    color: #FFF78C;
    text-shadow: -2px -1px 2px #45C3B5, 2px 1px 2px #433799;
    font-family: 'handelgothic';
}

.ourworlds2 {
    background-color: #FA8F60;
    color: #FFFFFF;
    text-shadow: -2px -1px 2px #CBFA60, 2px 1px 2px #C660FA;
}
.ourworlds2txt {
    background-color: #000000;
    color: #FFFFFF;
    text-shadow: -2px -1px 2px #CBFA60, 2px 1px 2px #FA8F60;
    font-family: 'handelgothic';
}

.ulcerep {
    background-color: #B90017;
    color: black;
}

.ulcerepbutton {
    background-color: #000000;
    color: white;
}

.badomen {
    background-color: #000000;
    color: white;
    font-family: 'simsun';
}

.badomenbutton {
    background-color: #FF6551;
    color: white;
}

.thc {
    background-color: #000000;
    color: white;
    font-family: 'rodin';
    text-shadow: -2px -1px 2px #007F00,
}

.thcbutton {
    background-color: #007F00;
    color: white;
}

.dirtyblonde {
    background-color: #E8D5B1;
    color: #394C5A;
  }
  
.dirtyblondebutton {
    background-color: #394C5A;
    color: #FED362;
  }

.dirtyblondebar {
    background-color: #F9E6C4;
}

.dirtyblondebar div {
    background-color: #394C5A;
}

.pinksisser {
    background-color: #a1f4c3;
    color: black;
    font-family: 'Arial';
}

.pinksisserbutton {
    background-color: #black;
    color: red;
}

.pinksisserbar {
    background-color: black;
}

.pinksisserbar div {
    background-color: red;
}

.evergreen {
    background-color: #000000;
    color: #FFFFFF;
    text-shadow: -2px -1px 2px #F86275, 2px 1px 2px #FA8F60;
    font-family: 'Arial';
}

.evergreenanim {
background-image: linear-gradient(45deg,#F86275,#FA8F60,#E27081,#FF5EB9,#FF9EA9,#7A89FF);
   background-size: 1000% 1000%;
   animation: rainbow 10s ease infinite; 
  }
  
  .evergreenbar {
background-color: #000000;
  }
  
    .evergreenbar #div {
background-image: linear-gradient(45deg,#F86275,#FA8F60,#E27081,#FF5EB9,#FF9EA9,#7A89FF);
   background-size: 1000% 1000%;
   animation: rainbow 10s ease infinite; 
  }
  
.arkive {
    background-color: #FFFFFF;
    color: #000000;
    font-family: 'Arial';
  }
  
  .anthology {
    background-color: #000000;
    color: #FFFFFF;
    text-shadow: 0px 0.5px 2px #FFFFFF;
    font-family: 'Arial';
    font-weight: bold;
}

.anthologybutton {
background-image: linear-gradient(45deg,#C21E0F,#439D39,#CA7730,#5D517C,#B3262F,#5D517C);
   background-size: 1000% 1000%;
   animation: rainbow 10s ease infinite; 
  text-shadow: 0px 0.5px 2px #FFFFFF;
  }
  
.teddy {
    background-color: #524D68;
    color: black;
    font-family: 'Courier New';
}

.cthulu {
    background-color: #000000;
    color: #FF0073;
    font-family: 'Chicago';
    text-shadow: 0.5px 0.5px 2px #FF0073, -0.5px -0.5px 2px #FF0073;
}

.cthulubutton {
    background-color: #FF0073;
    color: #000000;
}