
:root {
    --maincolor: #BADBFF;
    --hovercolor: #ffffff;
    --altcolor: #FF0073;
}

body {
    background-color:black;
background-image: url("img/001.gif");
background-repeat: z;
  height: 100%;
}

@font-face { font-family: Chicago; src: url('Chicago.ttf'); } 
@font-face { font-family: handelgothic; src: url('handelgothic.otf'); }
@font-face { font-family: simsun; src: url('simsun.ttf'); } 
@font-face { font-family: rodin; src: url('rodin.otf'); } 
@font-face { font-family: pokemon; src: url('pokemon.ttf'); }
@font-face { font-family: tahoma; src: url('style/tahoma.ttf'); } 

.pylori {
  color: var(--maincolor);
  font-family: pokemon;
  font-weight: normal;
  }
  
text:hover {
  color: var(--hovercolor);
  }

div[class=cooldiv]
        {height: 5px; 
            width:100%; 
            background-color: var(--maincolor);
            margin: auto; 
        }

.thugdiv
        {
height: 100%;  
width:100%;  
            text-align: center;  
            margin-left: auto; 
            margin-right: auto;
        position:relative;
        max-width: fit-content; 
        } 

.abutton {
    border-width: 2px; 
    border-style: solid; 
    padding: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
    font-size: 20px;
  }

img {
    image-rendering: pixelated;
    }

href {
  text-color: var(--maincolor);
  text-decoration: none;
  }
  
a[href] {
  background-color: #F0FF4C;
  }

@keyframes rainbow {
         0% {background-position:0% 100%}
         50%{background-position:100% 0%}
         100% {background-position:0% 100%}
      }
